@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Code+Pro:wght@300&display=swap');

.vertical-timeline-element--work {
    font-family: 'Source Code Pro', monospace;
}

.vertical-timeline-element--education {
    font-family: 'Source Code Pro', monospace;
}

.a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}