.footer {
    width: 100%;
    height: 200px;
    background: #0b2e63;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.socialMedia {
    color: #FBFAF5;
    font-size: 70px;
    cursor: pointer;
}

.footer p {
    color: #FBFAF5;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 120px;
    }
    .socialMedia {
        margin: 0px;
    }
}